* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  height: 40vh;
  position: relative;
}

.headerText{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
}

.btn {
  display: inline-block;
  background: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.btn:focus {
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.result1 {
 float: left;
 font-size: 40px;
 height: fit-content;
 margin-top: 3rem;
 padding-right: 1rem;
}
.result2{
 float: right;
 font-size: 40px;
 margin-top: 3rem;
}
.comparasion{
  position: absolute;
  left: 52%;
  right: 52%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
  width: 50vw;
}
